/*-----Global-----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#mobile {
    display: none;
}







@media only screen and (max-width: 450px) {
    #mobile {
        display: block;
    }



    /*-----mobile-module-two-----*/

    #mobile-module-two {
        display: grid;
        width: 100%;
        position: sticky;
        top: 0;
        grid-auto-rows: 7rem;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        overflow-x: auto;
        box-shadow: 0px 0px 9px 0px black;
    }

    .mobile-occupation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        pointer-events: none;
    }

    .mobile-occupation-image {
        height: 3.6rem;
        width: auto;
        
        
    }

    .mobile-occupation p {
        font-size: 1.6rem;
        font-weight: 300;
        user-select: none;
    }


    /*-----mobile-module-three-----*/

    #mobile-module-three {
        display: grid;
        height: auto;
        grid-auto-columns: 100%;
        grid-auto-rows: 15rem;
        overflow-y: auto;
        bottom: 0;
    }

    .mobile-occupation-nav-image {
        width: 5rem;
        height: auto;
        
    }




    /*-----mobile-module-five-----*/
    #mobile-module-five{
        display: grid;
        position: sticky;
        bottom: 0;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-auto-rows: 7rem;
        grid-auto-flow: column;
        box-shadow: 0px 0px 9px 0px black;
    }

    .mobile-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .mobile-section-image {
        height: 3.7rem;
        width: auto;
        pointer-events: none;
    }

    .mobile-section p {
        font-size: 3rem;
        font-weight: 400;
        user-select: none;
        width: min-content;
        text-align: center;
    }





}
