/*-----Global-----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body,
html {
    overscroll-behavior: none;
}


#mobile {
    display: none;
}

img {
    pointer-events: none;
}

p,
span {
    user-select: none;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 450px) {

    body,
    html {
        overscroll-behavior: none;
        touch-action: none;
        user-zoom: fixed;
    }


    #mobile {
        display: block;
    }


    /*-----mobile-module-two-----*/

    #mobile-module-two {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        grid-auto-rows: 6rem;
        grid-auto-columns: max-content;
        overflow-x: auto;
        box-shadow: 0px 0px 2px 0px black;
    }

    .mobile-occupation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1.5rem;
    }

    .mobile-occupation-image {
        height: auto;
        width: 3.3rem;
    }

    .mobile-occupation p {
        font-size: 1.6rem;
        font-weight: 300;
    }


    /*-----mobile-module-three-----*/

    #mobile-module-three {
display: grid;
overflow-y: auto;
}

    .card {
        padding: 3rem;
        box-shadow: 0px 0px 5px 0px black;
        margin: 3rem 0px 0px 0px;
    }

    .card-module-one {

        display: flex;
    }

    .card-image-container {
        

    }


    .card-image {
        height: 76px;
        width: auto;
        box-shadow: 0px 0px 5px black;
        border-radius: 15%;
    }

    .card-body-container {

        display: flex;

        flex-grow: 1;

        margin-left: 2rem;

        flex-direction: column;
    }

    .card-name {

        font-weight: 400;

        font-size: 2.4rem;

    }

    .card-specializations {

        font-size: 2.1rem;

        font-weight: 300;

        margin-bottom: 0.5rem;

    }

    .card-rating-container {

        display: flex;

        align-items: center;

        justify-content: flex-end;

    }

    .card-rating-img {

        height: 1.9rem;

        width: auto;

    }

    .card-rating-number {

        font-size: 2rem;

        margin-left: 0.3rem;

        margin-top: 0.05rem;

    }






    /*-----mobile-module-five-----*/
    #mobile-module-five {
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-auto-rows: 6rem;
        grid-auto-flow: column;
        box-shadow: 0px 0px 2px 0px black;
    }

    .mobile-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .mobile-section-image {
        display: block;
        height: 3.7rem;
        width: auto;
    }

    .mobile-section-blue-image {
        display: none;
        height: 3.7rem;
        width: auto;
    }

    .mobile-section p {
        font-size: 3rem;
        font-weight: 400;
        width: min-content;
        text-align: center;
    }


}