/*-----Global-----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body,html {
    overscroll-behavior: none;
}


#mobile {
    display: none;
}
img {
    pointer-events: none;
}
p {
    user-select: none;
    font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media only screen and (max-width: 450px) {
    body,html {
        overscroll-behavior: none;
        touch-action: none;
        user-zoom: fixed;
    }


    #mobile {
    display: block;
    }


    /*-----mobile-module-two-----*/

    #mobile-module-two {
        display: grid;
        width: 100%;
        grid-auto-flow: column;
        grid-auto-rows: 6rem;
        grid-auto-columns: max-content;
        overflow-x: auto;
        box-shadow: 0px 0px 9px 0px black;
    }

    .mobile-occupation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1.5rem;
    }

    .mobile-occupation-image {
        height: auto;
        width: 3.3rem;
    }

    .mobile-occupation p {
        font-size: 1.6rem;
        font-weight: 300;
    }


    /*-----mobile-module-three-----*/

    #mobile-module-three {
   
display: grid;
   
width: 100%;
   
overflow-y: auto;
   
grid-auto-rows: 23rem;
   
row-gap: 3rem;
   
align-items: center;
}

    .mobile-occupation-nav-profile {
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px black;
    }

    .mobile-occupation-nav-image {
        width: 8rem;
        height: auto;
    }




    /*-----mobile-module-five-----*/
    #mobile-module-five{
        display: grid;
        position: absolute;
        bottom: 0;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-auto-rows: 6rem;
        grid-auto-flow: column;
        box-shadow: 0px 0px 9px 0px black;
    }

    .mobile-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    
    .mobile-section-image {
        height: 3.7rem;
        width: auto;
       
    }

    .mobile-section p {
        font-size: 3rem;
        font-weight: 400;
        width: min-content;
        text-align: center;
    }


}
